<!DOCTYPE html>
<html>
  <head>
    <meta  content="text/html; charset=UTF-8"  http-equiv="content-type">
    <title>HEM History</title>
  </head>
  <body>
    <table  style="width: 818px; height: 193px;"  border="0">
      <tbody>
        <tr>
          <td><a  href="/"><img  style="width: 160px; height: 160px;"  alt="Back"
                 src="static/pics/back.png"></a><br>
          </td>
          <td  style="width: 256px; text-align: center; font-size:50px"><a  href="hemconf.html"><span
                 style="color: rgb(0, 0, 238);"><span  style="text-decoration: underline;">HEM</span></span></a></td>
          <td  style="width: 256px; text-align: center; font-size:50px">NAS<br>
          </td>
          <td  style="text-align: left;"><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
          <td  style="background-color: rgb(153, 153, 153);"><span  style="color: rgb(153, 153, 153);"><br>
            </span> </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    Current activation status: <br>
    <br>
    <form  method="GET"  action="nasconfig.html"  name="NAS_ACT">
      <table  style="width: 598px; height: 44px;"  border="0">
        <tbody>
          <tr>
            <td  style="width: 269.75px; text-align: right;">Activate for&nbsp;
            </td>
            <td  style="width: 64px;"> 
              <select  name="NAS_act_sel">
                <option  value="15">15 min</option>
                <option  value="30">30 min</option>
                <option  value="60">1 hour</option>
                <option  value="120">2 hours</option>
              </select>
            </td>
            <td  style="width: 50px;">&nbsp;</td>
            <td  style="width: 709.75px;"><button  type="submit"  value="Submit"
                 formmethod="get"  name="NAS_act_btn">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
    <br>
  </body>
</html>
